.bg-navbar {
    /* background-color: aqua; */
    color: white
}

.minw {
    min-width: 10px;
}

.icon-1 {
    width: 16px;
    height: 16px;
}

.hover-shadow:hover {
    text-shadow: black;
}

table th,
table td {
    text-align: center;
}

table tr:nth-child(even) {
    background-color: #e4e3e3
}

th {
    background: #333;
    color: #fff;
}

.pagination {
    margin: 0;
    letter-spacing: 5px;
    display: border-box;
    padding-right: 5px;
}

.pagination li:hover {
    cursor: pointer;
}

.header_wrap {
    padding: 30px 0;
}

.num_rows {
    float: left;
}

.tb_search {
    width: 20%;
    float: right;
}

.pagination-container {
    width: 70%;
    float: left;
}

.rows_count {
    text-align: right;
    color: #999;


}